@import "../../../node_modules/bulma/sass/utilities/initial-variables"

// overwrite variables values here

@import "../../../node_modules/bulma/bulma"

// local styles

.heart
    color: $red
    font-size: large
    font-family: monospace

.top-border
    background-color: $primary
    height: $size-7

.lead-image
    background-image: url("/static/spa_app/bg.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
